---
import { Image } from 'astro:assets'

// import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
// import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const tools = ['Vim', 'Git', 'Linux', 'Markdown', 'Latex']
const languages = ['Html', 'JavaScript', 'CSS', 'Shell', 'Python', 'Java', 'C++', 'RISC-V']
// const frontend = ['TypeScript', 'Vite', 'Webpack', 'Astro']
// const backend = ['Vercel', 'Waline']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China / UESTC'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='Github' as='a' href='https://github.com/linlucath' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      <!-- {/* Get template */}
      <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>Get Template</p>
      </a> -->
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Developer / Math Learner</p>
        <p class='text-muted-foreground'>
          I'm Linlucath, a passionate developer and mathematics enthusiast. Currently pursuing a
          mathematics degree at the University of Electronic Science and Technology of China
          (UESTC), while complementing my education with online computer science courses.
        </p>
        <p class='text-muted-foreground'>
          I've completed the CS61A and CS61B courses from UC Berkeley's computer science curriculum
          and am currently advancing through CS61C along with the WebLab specialization.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Educations'>
        <Card
          as='a'
          heading='CS 162'
          subheading='Operating Systems'
          date='Jun. 2025 - Aug. 2025'
          href='https://cs162.org/'
        >
          {
            (
              <ul class='ms-4 list-disc text-muted-foreground'>
                <li>Learned the fundamentals of operating systems.</li>
                <li>Implemented core OS components like process management and file systems.</li>
              </ul>
            )
          }
        </Card>
        <Card
          as='a'
          heading='CS 61C'
          subheading='Computer Architecture'
          date='May. 2025 - Jun. 2025'
          href='https://cs61c.org/'
        >
          {
            (
              <ul class='ms-4 list-disc text-muted-foreground'>
                <li>Gained a deep understanding of computer architecture and assembly language.</li>
                <li>Designed and implemented a RISC-V CPU from scratch.</li>
              </ul>
            )
          }
        </Card>
        <Card
          as='a'
          heading='CS 61B'
          subheading='Data Structures / Software Engineering'
          date='Mar. 2025 - Apr. 2025'
          href='https://sp21.datastructur.es/'
        >
          {
            (
              <ul class='ms-4 list-disc text-muted-foreground'>
                <li>Implemented core data structures (trees, graphs, hash tables) from scratch.</li>
                <li>Architected Java-based projects applying OOP principles and design patterns</li>
              </ul>
            )
          }
        </Card>
        <Card
          as='a'
          heading='CS 61A'
          subheading='Programming Languages'
          date='Jan. 2025 - Mar. 2025'
          href='https://cs61a.org/'
        >
          {
            (
              <ul class='ms-4 list-disc text-muted-foreground'>
                <li>Learned the fundamentals of programming languages.</li>
                <li>Gained proficiency in Python and Scheme.</li>
              </ul>
            )
          }
        </Card>
        <Card
          as='a'
          heading='Missing Semester'
          subheading='Working on Shell'
          date='Jan. 2025 - Feb. 2025'
          href='https://missing.csail.mit.edu/2020/'
        >
          {
            (
              <ul class='ms-4 list-disc text-muted-foreground'>
                <li>Mastered various tools and shell commands. (Vim, Git, piping, etc.)</li>
                <li>Gained proficiency in Linux environment operations.</li>
              </ul>
            )
          }
        </Card>
      </Section>

      <!-- <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section> -->

      <!-- <Section title='Certifications'>
        <Card
          as='a'
          heading='CET-4 619'
          subheading='College English Test Band 4'
          date='July 2024'
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        />
      </Section> -->

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <!-- <SkillLayout title='Frontend' skills={frontend} />
          <SkillLayout title='Backend' skills={backend} /> -->
        <SkillLayout title='Tools' skills={tools} />
      </Section>
    </div>
    <!-- <Quote class='mt-12' /> -->
  </main>
</PageLayout>
